
.orderCard {
    width: 80%;
    margin: 20px auto;
    position: relative;
    
}

.orderCard .MuiPaper-root {
    flex-wrap: wrap-reverse;
   
}



.burger-box{
    padding-top: 1rem;
    height: 200px;
    width: 80%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.orderCard .Burger {
    margin: 0;
    height: 90%;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}

.orderStatus{
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
}

.pending{
    background-color: rgb(255, 232, 172);
}

.cancelled{
    background-color: rgb(255, 216, 207);
}

.shipped{
    background-color: rgb(215, 239, 252);
}

.completed{
    background-color: rgb(218, 245, 201);
}




@media (min-width: 500px) and (min-height: 400px) {
    .orderCard .Burger{
        width: 160px;
        margin: 0 auto;
        overflow: scroll;
        height: 80%;
    }

    .burger-box{
        width: 200px;
        height: 200px;
    }

    .orderCard .MuiPaper-root {
        align-items: center;
        justify-content: space-between;
    }

}

@media (min-width: 1026px){
   
    .orderCard {
        width: 40%;
    }

}

